.goals {
    .name {
        font-size: 20px;
    }
    .otherDetails {
        margin: 5px 0px;
        color: gray;
        p {
            font-size: 12px;
            margin: 0px;
        }
    }
}