<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Existing Goal</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list *ngFor="let goal of goals">
		<div class="goals ion-padding" style="border-bottom: 1px solid;" (click)="viewGoal(goal.name, goal.amount , goal.startDate, goal.endDate, goal.optional, goal)">
			<div class="name">{{goal.name}}</div>
			<div class="otherDetails">
				<p>Amount: {{goal.amount}}</p>
				<p>Start Date: {{goal.startDate}}</p>
				<p>End Date: {{goal.endDate}}</p>
				<p>{{goal.optional}}</p>
			</div>
		</div>
	</ion-list>
</ion-content>
